.home {
    margin: 0 5%;
    margin-top: 50px;
}
.home .full-navbar {
    display: flex;
    gap: 18rem;
    margin-bottom: 20px;
}

@media (max-width:1170px) {
    .home {
        margin-top: 20px;
    }
    .full-m-n {
        margin-bottom: 20px;
    }
}

@media (max-width:1365px) {
    .home .full-navbar {
        display: flex;
        gap: 16rem;
        margin-bottom: 20px;
    }
}

